## An example carousel definition that would be called in your template with
##   {{ uib_carousel('my_carousel_name') }}
##
## Only carousel name and the 'content' parameter are required, everything else
## is optional
##

#my_carousel_name:
#  content: carousel/1  # The record (contentype/record) that contains this carousel's images
#  field: imagelist        # Name of the field in the defined conenttype
#  random: true         # Randomise the order of images
#  count: 10            # Limit the number of pictures selected from the record
#  class: my_class      # The HTML class to add to the carousel element
#  template: uib_carousel.twig # The twig template file name to use (under this extension assets folder)
#  text:                #
#    next: Next         # Accessibility text for 'Next' button
#    prev: Previous     # Accessibility text for 'Previous' button
#  options:             #
#    interval: 5000     # The amount of time to delay between automatically cycling an item. If false, carousel will not automatically cycle.
#    pause: hover       # Pauses the cycling of the carousel on mouseenter and resumes the cycling of the carousel on mouseleave.
#    no_wrap: true      # Whether the carousel should cycle continuously or have hard stops.
#    keyboard: true     # Whether the carousel should react to keyboard events.